body{box-sizing: content-box;
    box-sizing: content-box;
    width: 800px;
    margin: auto;
    height: 855px;
    border:  1px solid;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
li ol{
    background-color: black;
    color: white;
    display:none;
}
nav{
    position: absolute;
    left: 460px;   
}
li:hover{
    display: inline-block;
}
#butifarra{
    position: sticky;
    text-align: right;
}
h1{
    margin: 15px;
    position: sticky;
    top: 0%;
}
ol>li>ol{
    display: none;
}
ol>li:hover ol{
    display: block;
    
}

footer{
background-color: black;
color: white;
height: 50px;
text-align: center;
position:absolute;
bottom: 47px;
width: 800px;
}
#panceta{
    position: absolute;
    top: 150px;
    width: 800px;
    text-align: justify;
}
#chorizo{
    position: absolute;
    top: 400px;
    width: 800px;
    text-align: justify;
}
li{
    background-color: black;
    color: white;
    width: 60px;
    height: 30px;
}
#morcilla{
    background-color: red;
    color: white;
}

